// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&family=Rubik&display=swap");

$primary: #ff536a;
$secondary: #53ffd1;
$danger: #c0ff53;

// Font Variables
// $roboto-slab: "Roboto Slab", serif;
// $open-sans: "Open Sans", sans-serif;
$header: "Rubik", sans-serif;
$button: "Rubik", sans-serif;
$movie-title: "Darker Grotesque", sans-serif, medium;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 2.2;

// Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header;
  font-weight: medium;
}

button.btn {
  font-family: $button;
}

h1.card-header {
  font-family: $movie-title;
  font-weight: 600;
  font-size: 2em;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
